block content
    h1= title
    form(name="login", method="post",action="/login")
        div#passworddiv
            label(for='password') password: 
                input(id='password',type='password',value='',placeholder='',name='password')