block content
    h1= title
    .col-md-4.col-md-offset-4
    div
     form(name="login", method="post",action="/login")
        div#userdiv
            label(for='user') user: 
                input(id='user',type='text',value='',placeholder='user',name='user')
        div#passworddiv
            label(for='password') password: 
                input(id='password',type='password',value='',placeholder='password',name='password')
        div 
            input(type='submit',value='Login')